<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="rabbitmq_home" value="localhost" />
        <add key="rabbitmq_port" value="5672" />
        <add key="rabbitmq_user" value="exec_admin" />
        <add key="rabbitmq_pwd" value="exec_pwd" />
        <add key="service_name" value="Execution Service" />
    </appSettings>
</configuration>
