./CAST_Rest_Listener/appsettings.json
./Execution_Service/app.config
./Execution_UI/Execution_UI/appsettings.json
./File_Storage_Service/app.config
./Health_Service/app.config
./Logger_Service/app.config
./Playwright_Demo/cast.properties
./Playwright_Java_Demo/resources/config.properties
./Scheduler_Service/app.config

./CAST_Client_Service/CAST_Client_Service/obj/
./CAST_Client_Service/CAST_Client_Service/bin/
./CAST_Java_Client_Service/out/
./CAST_Rest_Listener/obj/
./CAST_Rest_Listener/bin/
./Execution_Service/obj/
./Execution_Service/bin/
./Execution_UI/Execution_UI/obj/
./Execution_UI/Execution_UI/bin/
./File_Storage_Service/obj/
./File_Storage_Service/bin/
./Health_Service/obj/
./Health_Service/bin/
./Helpers/Setup_Server_Config_Files/obj/
./Helpers/Setup_Server_Config_Files/bin/
./Helpers/Setup_Server_Config_Files/originals/
./Logger_Service/obj/
./Logger_Service/bin/
./Playwright_Demo/obj/
./Playwright_Demo/bin/
./Playwright_Java_Demo/out/
./Scheduler_Service/obj/
./Scheduler_Service/bin/
./Execution_UI/Execution_UI/clients/
./Execution_UI/Execution_UI/wwwroot/clients/

.gitignore
