<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="rabbitmq_home" value="rabbitmq_server" />
        <add key="rabbitmq_port" value="rabbitmq_port" />
        <add key="rabbitmq_user" value="rabbitmq_account_val" />
        <add key="rabbitmq_pwd" value="rabbitmq_pwd_val" />
        <add key="service_name" value="Health Service Checker" />
        <add key="mysql_Server" value="mysql_ip" />
        <add key="mysql_Port" value="mysql_port" />
        <add key="mysql_Database" value="mysql_database" />
        <add key="mysql_User" value="mysql_account_val" />
        <add key="mysql_Password" value="mysql_pwd_val" />
    </appSettings>
</configuration>
